@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: poppins;
}

button{
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  font-family: inherit;
  border: none;
}

.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0,0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-container.active{
  display: flex;
}
.popup{
  background-color: #fff;
  padding: 2rem;
  width: 500px;
  border-radius: 4px;
  position: relative;
  box-shadow:2px 2px 10px rgba(0, 0,0, 0.3);
}

.popup button {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  
}